In [54]:
# Nika's notebook

# Import statements
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

In [74]:
# read the uscities csv. this file will be used for the longitude and latitude, as well as the density stats.
longlatdensity_csv = Path("../Data/uscities.csv")
longlatdensity_df = pd.read_csv(longlatdensity_csv)
longlatdensity_df.head(5)

#getting first zipcode from list of zipcodes
longlatdensity_df[['firstzip']] = longlatdensity_df['zips'].str.split(",", n = 1, expand=True)
longlatdensity_df[['firstzip']] = longlatdensity_df['zips'].str[:5]

#dropping unnecessary columns
longlatdensity_df.drop(columns=['source','military','incorporated','timezone','city_ascii',"zips"],inplace=True)
longlatdensity_df.drop_duplicates()
longlatdensity_df

,city,state_id,state_name,county_fips,county_name,lat,lng,population,density,ranking,id,firstzip
0,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220.0,10715.0,1,1840034016,11229
1,Los Angeles,CA,California,6037,Los Angeles,34.1139,-118.4068,12750807.0,3276.0,1,1840020491,90291
2,Chicago,IL,Illinois,17031,Cook,41.8373,-87.6862,8604203.0,4574.0,1,1840000494,60018
3,Miami,FL,Florida,12086,Miami-Dade,25.7839,-80.2102,6445545.0,5019.0,1,1840015149,33129
4,Dallas,TX,Texas,48113,Dallas,32.7936,-96.7662,5743938.0,1526.0,1,1840019440,75287
...,...,...,...,...,...,...,...,...,...,...,...,...
29483,Caputa,SD,South Dakota,46103,Pennington,43.9960,-102.9847,0.0,0.0,3,1840035951,57703
29484,Hamill,SD,South Dakota,46123,Tripp,43.5939,-99.6907,0.0,0.0,3,1840004186,57534
29485,Loomis,SD,South Dakota,46035,Davison,43.7931,-98.1036,0.0,0.0,3,1840004170,57301
29486,Bijou Hills,SD,South Dakota,46015,Brule,43.5285,-99.1439,0.0,0.0,3,1840024011,57369
29487,Ola,SD,South Dakota,46015,Brule,43.6005,-99.2114,0.0,0.0,3,1840024012,57325

In [75]:
# Using median income CSV files from EH notebook

median_income_csv = Path("../Data/household_income_msa_2019.csv")
median_income_df = pd.read_csv(median_income_csv)
median_income_df = median_income_df.transpose() # Transpose the column/headers
new_header = median_income_df.iloc[0] #grab the first row for the header
median_income_df = median_income_df[1:] #take the data less the header row
median_income_df.columns = new_header #set the header row as the df header
median_income_df = median_income_df[['Median income (dollars)','Mean income (dollars)']] # Use only median and mean income data columns
median_income_df.reset_index(inplace=True)
median_income_df[['MSA','extra']] = median_income_df['index'].str.split(",", n = 1, expand=True) # Split MSA from text string
median_income_df[['State','extra2']] = median_income_df['extra'].str.split(n = 1, expand=True) # Split State from remaining text string
median_income_df[['Primary MSA','Secondary MSA']] = median_income_df['MSA'].str.split("-", n = 1, expand=True) # Split Primary MSA from first text string
median_income_df[['Primary State','Secondary State']] = median_income_df['State'].str.split("-", n = 1, expand=True) # Split Primary MSA from first text string
median_income_df.drop(columns=['index','extra','extra2','MSA','State'],inplace=True) # Drop unnecessary columns
median_income_df.drop_duplicates(subset=['Primary MSA','Primary State'], inplace=True) # Drop duplicates -- first instance is the median and mean income by MSA
median_income_df.head()

Label,Median income (dollars),Mean income (dollars),Primary MSA,Secondary MSA,Primary State,Secondary State
0,"61,026","77,948",Aberdeen,None,WA,None
8,"54,808","71,517",Abilene,None,TX,None
16,"53,865","69,443",Adrian,None,MI,None
24,"16,311","25,781",Aguadilla,Isabela,PR,None
32,"57,158","80,800",Akron,None,OH,None

In [ ]:
# concatenating median income df with longlat density based on primary MSA