### Carlos' code

In [4]:
# Import statements
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

In [5]:
file_name='house_prices_msa.csv'
csv_file=Path(f"../Data/{file_name}")
house_price_df= pd.read_csv(csv_file)

In [6]:
house_price_df.head(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,...,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020
0,102001,0,United States,Country,NaN,107630.0,107657.0,107707.0,107834.0,107977.0,...,247737,248625,249639,250802,252042,253216,254423,255872,257736,259906
1,394913,1,"New York, NY",Msa,NY,187842.0,187403.0,187125.0,186592.0,186274.0,...,479999,480758,481745,482804,484104,485517,487279,489670,492875,497090
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,183929.0,184185.0,184205.0,184312.0,184286.0,...,671796,675183,680320,685503,689705,691229,692332,696613,703740,711361
3,394463,3,"Chicago, IL",Msa,IL,164647.0,164345.0,163946.0,163493.0,162886.0,...,245373,245631,246017,246628,247155,247719,248421,249650,251298,253512
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,114406.0,114471.0,114634.0,114962.0,115314.0,...,260294,260750,261428,262440,263584,264699,265992,267485,269183,270907

In [8]:
region_id_df=house_price_df#(set_index='RegionID')
region_id_df.set_index(region_id_df['RegionName'],inplace=True)
region_id_df=region_id_df.drop(columns=['RegionID','SizeRank', 'RegionName', 'RegionType', 'StateName'])
region_id_df=region_id_df.transpose()
region_id_df.columns.name = None
region_id_df
# region_id_df.plot(legend=False) 

# people_csv.set_index(people_csv['first_name'], inplace=True)
# gold_csv.set_index(pd.to_datetime(gold_csv['Date'], infer_datetime_format=True), inplace=True)

,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL","Atlanta, GA",...,"Winnemucca, NV","Sweetwater, TX","Andrews, TX","Zapata, TX","Vermillion, SD","Lamesa, TX","Craig, CO","Pecos, TX","Vernon, TX","Ketchikan, AK"
1/31/1996,107630.0,187842.0,183929.0,164647.0,114406.0,121233.0,110773.0,178034.0,109403.0,120291.0,...,NaN,NaN,NaN,NaN,NaN,NaN,60501.0,NaN,NaN,NaN
2/29/1996,107657.0,187403.0,184185.0,164345.0,114471.0,121078.0,110849.0,177811.0,109533.0,120519.0,...,NaN,NaN,NaN,NaN,NaN,NaN,60725.0,NaN,NaN,NaN
3/31/1996,107707.0,187125.0,184205.0,163946.0,114634.0,120937.0,110858.0,177681.0,109670.0,120740.0,...,NaN,NaN,NaN,NaN,NaN,NaN,60961.0,NaN,NaN,NaN
4/30/1996,107834.0,186592.0,184312.0,163493.0,114962.0,120693.0,111007.0,177407.0,109917.0,121229.0,...,NaN,NaN,NaN,NaN,NaN,NaN,61420.0,NaN,NaN,NaN
5/31/1996,107977.0,186274.0,184286.0,162886.0,115314.0,120527.0,111148.0,177288.0,110132.0,121711.0,...,NaN,NaN,NaN,NaN,NaN,NaN,61747.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/31/2020,253216.0,485517.0,691229.0,247719.0,264699.0,256799.0,224420.0,441727.0,302132.0,245768.0,...,226697.0,79991.0,170737.0,91481.0,179138.0,76213.0,187109.0,129605.0,69276.0,312216.0
6/30/2020,254423.0,487279.0,692332.0,248421.0,265992.0,258666.0,225165.0,444179.0,303396.0,247242.0,...,227020.0,80081.0,171393.0,91978.0,179052.0,76503.0,187262.0,130574.0,69229.0,312121.0
7/31/2020,255872.0,489670.0,696613.0,249650.0,267485.0,260637.0,226007.0,447399.0,304694.0,248841.0,...,227333.0,80159.0,172116.0,92335.0,178945.0,76738.0,187332.0,131262.0,69236.0,312147.0
8/31/2020,257736.0,492875.0,703740.0,251298.0,269183.0,263126.0,227049.0,451030.0,306533.0,250642.0,...,227223.0,80068.0,172764.0,92363.0,179167.0,76975.0,187393.0,131311.0,69248.0,312419.0
9/30/2020,259906.0,497090.0,711361.0,253512.0,270907.0,265912.0,228576.0,455038.0,308911.0,252586.0,...,226533.0,79985.0,173153.0,92602.0,179547.0,77216.0,187430.0,130703.0,69306.0,312663.0

In [75]:
start_date='9/30/2020'
end_date='2/29/2020'
change_since_feb=region_id_df.loc[start_date]/region_id_df.loc[end_date]-1
avg_last_12m=region_id_df.rolling(window=12).mean().tail(1)
sale_stats_df=pd.DataFrame([[change_since_feb,avg_last_12m]],columns=[['% Change Since Feb','AVG Last 12M']])
region_id_df.iloc[-12:,:].mean()

United States                         251932.416667
New York, NY                          485123.166667
Los Angeles-Long Beach-Anaheim, CA    686194.416667
Chicago, IL                           247694.583333
Dallas-Fort Worth, TX                 263875.916667
                                          ...
Lamesa, TX                             76011.333333
Craig, CO                             187330.500000
Pecos, TX                             127703.000000
Vernon, TX                             69422.750000
Ketchikan, AK                         311946.416667
Length: 914, dtype: float64

In [72]:
change_since_feb

United States                         0.041127
New York, NY                          0.031853
Los Angeles-Long Beach-Anaheim, CA    0.045627
Chicago, IL                           0.030465
Dallas-Fort Worth, TX                 0.036259
                                        ...
Lamesa, TX                            0.020283
Craig, CO                             0.002653
Pecos, TX                             0.027741
Vernon, TX                           -0.002720
Ketchikan, AK                         0.001698
Length: 914, dtype: float64

In [70]:
avg_last_12m

,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL","Atlanta, GA",...,"Winnemucca, NV","Sweetwater, TX","Andrews, TX","Zapata, TX","Vermillion, SD","Lamesa, TX","Craig, CO","Pecos, TX","Vernon, TX","Ketchikan, AK"
9/30/2020,251932.416667,485123.166667,686194.416667,247694.583333,263875.916667,256259.25,223546.083333,440485.333333,300640.416667,244462.083333,...,227341.166667,79973.5,170260.5,91457.833333,177477.0,76011.333333,187330.5,127703.0,69422.75,311946.416667

In [66]:
region_id_df.rolling(window=12).mean().tail(12)

,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL","Atlanta, GA",...,"Winnemucca, NV","Sweetwater, TX","Andrews, TX","Zapata, TX","Vermillion, SD","Lamesa, TX","Craig, CO","Pecos, TX","Vernon, TX","Ketchikan, AK"
10/31/2019,242349.166667,478958.416667,661092.583333,244849.583333,256692.250000,247687.833333,217852.583333,425836.416667,292403.666667,233537.583333,...,228536.833333,77867.500000,161833.583333,90055.166667,171275.916667,72734.916667,187458.416667,115509.000000,69331.333333,303548.833333
11/30/2019,243093.250000,479295.916667,661687.250000,245035.416667,257350.583333,248320.750000,218364.416667,426974.500000,292962.250000,234453.750000,...,228549.250000,78188.916667,162709.583333,90342.083333,171714.500000,73132.166667,187507.666667,116580.000000,69401.083333,304748.750000
12/31/2019,243832.500000,479567.916667,662535.833333,245206.583333,257905.000000,248946.750000,218876.833333,428113.750000,293443.166667,235351.666667,...,228514.833333,78480.333333,163611.250000,90570.750000,172176.000000,73514.000000,187522.000000,117634.833333,69475.750000,305925.833333
1/31/2020,244574.500000,479854.083333,663760.500000,245392.500000,258388.750000,249565.833333,219314.583333,429214.083333,293863.166667,236266.583333,...,228431.583333,78739.166667,164529.416667,90740.083333,172682.583333,73877.250000,187495.333333,118813.333333,69536.333333,307044.666667
2/29/2020,245337.083333,480193.000000,665641.750000,245585.833333,258857.166667,250209.000000,219709.583333,430250.083333,294441.250000,237217.666667,...,228303.000000,78974.583333,165399.666667,90819.000000,173260.666667,74211.833333,187473.166667,120026.500000,69573.500000,308053.916667
3/31/2020,246140.333333,480582.500000,668161.500000,245798.916667,259372.166667,250831.833333,220120.583333,431292.666667,295116.916667,238168.416667,...,228109.166667,79184.416667,166219.833333,90856.750000,173951.500000,74518.250000,187461.750000,121252.666667,69584.250000,308956.916667
4/30/2020,246991.166667,481030.083333,671088.666667,245999.000000,259953.750000,251497.166667,220617.333333,432430.916667,295878.750000,239114.833333,...,227845.750000,79360.833333,166955.916667,90895.916667,174702.666667,74796.083333,187462.000000,122388.000000,69574.083333,309720.416667
5/31/2020,247867.083333,481525.833333,673856.333333,246188.666667,260574.000000,252194.250000,221160.916667,433653.666667,296696.416667,240043.833333,...,227635.000000,79536.666667,167645.500000,90973.333333,175396.416667,75058.583333,187462.416667,123498.500000,69557.583333,310364.250000
6/30/2020,248761.416667,482096.916667,676352.666667,246388.333333,261260.916667,252997.500000,221707.833333,434999.166667,297548.333333,241026.250000,...,227514.583333,79698.083333,168329.500000,91084.666667,175979.916667,75312.583333,187448.750000,124652.166667,69529.083333,310892.833333
7/31/2020,249702.416667,482804.583333,679049.666667,246661.083333,262030.500000,253901.666667,222254.250000,436573.833333,298443.583333,242078.333333,...,227483.083333,79839.583333,169011.333333,91223.166667,176483.750000,75555.583333,187417.666667,125808.166667,69494.250000,311313.916667
8/31/2020,250746.916667,483761.666667,682338.083333,247068.083333,262909.416667,254975.750000,222840.500000,438396.166667,299448.666667,243218.250000,...,227454.166667,79930.583333,169667.166667,91336.500000,176967.083333,75786.916667,187374.250000,126856.166667,69453.666667,311670.916667
9/30/2020,251932.416667,485123.166667,686194.416667,247694.583333,263875.916667,256259.250000,223546.083333,440485.333333,300640.416667,244462.083333,...,227341.166667,79973.500000,170260.500000,91457.833333,177477.000000,76011.333333,187330.500000,127703.000000,69422.750000,311946.416667

In [47]:
sale_stats_df.sort_values(['% Change Since Feb']).head(50)

                       % Change Since Feb
Longview, TX                    -0.086468
Sulphur Springs, TX             -0.049305
Anchorage, AK                   -0.048247
Fort Leonard Wood, MO           -0.038848
Jamestown, ND                   -0.038636
New Philadelphia, OH            -0.036688
Meridian, MS                    -0.033345
Midland, TX                     -0.030675
Statesboro, GA                  -0.027865
Bowling Green, KY               -0.027161
Sturgis, MI                     -0.026599
Laredo, TX                      -0.025993
Grand Forks, ND                 -0.022666
Crescent City, CA               -0.022244
LaGrange, GA                    -0.021671
Plainview, TX                   -0.021029
Minot, ND                       -0.019450
Great Bend, KS                  -0.018849
Houghton, MI                    -0.018172
Campbellsville, KY              -0.016299
Morgan City, LA                 -0.015655
London, KY                      -0.015440
Ottawa, IL                      -0.015365
Bradford, PA                    -0.015198
Charleston, IL                  -0.014998
Elkins, WV                      -0.014520
Jackson, WY                     -0.013801
Vicksburg, MS                   -0.013729
Wahpeton, ND                    -0.013097
Elko, NV                        -0.013057
Galesburg, IL                   -0.012793
Big Stone Gap, VA               -0.012494
Danville, KY                    -0.012438
Dixon, IL                       -0.012097
CaÃ±on City, CO                  -0.011991
Canton, IL                      -0.011377
Lake Charles, LA                -0.011327
DuBois, PA                      -0.010901
Madisonville, KY                -0.010288
Starkville, MS                  -0.009895
Houma, LA                       -0.009761
Marshall, TX                    -0.009448
Gillette, WY                    -0.009270
Williston, ND                   -0.009156
Opelousas, LA                   -0.009114
Farmington, MO                  -0.009043
Macomb, IL                      -0.009001
Duncan, OK                      -0.008309
Poplar Bluff, MO                -0.008274
Murray, KY                      -0.008117

In [45]:
sale_stats_df.sort_values(['% Change Since Feb']).tail(20)

                       % Change Since Feb
Pueblo, CO                       0.076521
Homosassa Springs, FL            0.076855
Joplin, MO                       0.077878
El Centro, CA                    0.079017
Phoenix, AZ                      0.079088
Brownsville, TX                  0.079819
Bremerton, WA                    0.080480
Centralia, WA                    0.083610
Gadsden, AL                      0.084846
Greenville, MS                   0.084942
Boise City, ID                   0.085234
Huntsville, AL                   0.085333
Augusta, ME                      0.085907
Albertville, AL                  0.086665
Ukiah, CA                        0.089885
Coeur d'Alene, ID                0.091206
Vineland, NJ                     0.092100
Olympia, WA                      0.093275
McMinnville, TN                  0.102057
Aberdeen, WA                     0.115593

In [76]:
sale_stats_df.sort_values(['% Change Since Feb']).plot(kind='bar',figsize=(40,10),fontsize=16)

TypeError: only integer scalar arrays can be converted to a scalar index

In [129]:
region_id_df.mean()

1/31/1996     91332.000000
2/29/1996     91342.949074
3/31/1996     91355.748268
4/30/1996     91515.279446
5/31/1996     92022.578947
                 ...
5/31/2020    189448.626915
6/30/2020    190103.181619
7/31/2020    190890.643326
8/31/2020    191857.416849
9/30/2020    192987.597374
Length: 297, dtype: float64

In [86]:
# new_dates=pd.DataFrame(house_price_df.iloc[0,5:])
# new_dates=new_dates.drop(columns=[0])
# new_dates.head(10)

In [124]:
# new_df=pd.DataFrame(house_price_df.iloc[0,5:])
new_df=house_price_df[['RegionID', 'SizeRank','RegionName','StateName']]
new_df.set_index(new_df['RegionID'],inplace=True)
new_df=new_df.drop(columns=['RegionID'])
new_df.head(1000)

          SizeRank                          RegionName StateName
RegionID
102001           0                       United States       NaN
394913           1                        New York, NY        NY
753899           2  Los Angeles-Long Beach-Anaheim, CA        CA
394463           3                         Chicago, IL        IL
394514           4               Dallas-Fort Worth, TX        TX
...            ...                                 ...       ...
394767         929                          Lamesa, TX        TX
753874         930                           Craig, CO        CO
394968         931                           Pecos, TX        TX
395188         932                          Vernon, TX        TX
394743         933                       Ketchikan, AK        AK

[914 rows x 3 columns]

# combined_df=pd.concat([region_id_df.set_index('RegionID'),new_df.set_index('RegionID')], axis=1, join='inner')
combined_df=pd.concat([region_id_df,new_df], axis='rows', join='inner')
combined_df

In [ ]:
DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes='_x', '_y', copy=True, indicator=False, validate=None)

In [128]:
# combined_df=pd.concat([region_id_df.set_index('RegionID'),new_df.set_index('RegionID')], axis=1, join='inner')
combined_df=pd.concat([region_id_df,new_df], axis=1, join='inner').reset_index()
combined_df

,RegionID,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,6/30/1996,7/31/1996,8/31/1996,9/30/1996,...,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,SizeRank,RegionName,StateName
0,102001,107630.0,107657.0,107707.0,107834.0,107977.0,108147.0,108315.0,108528.0,108744.0,...,250802,252042,253216,254423,255872,257736,259906,0,United States,NaN
1,394913,187842.0,187403.0,187125.0,186592.0,186274.0,185984.0,185806.0,185714.0,185759.0,...,482804,484104,485517,487279,489670,492875,497090,1,"New York, NY",NY
2,753899,183929.0,184185.0,184205.0,184312.0,184286.0,184313.0,184413.0,184365.0,184252.0,...,685503,689705,691229,692332,696613,703740,711361,2,"Los Angeles-Long Beach-Anaheim, CA",CA
3,394463,164647.0,164345.0,163946.0,163493.0,162886.0,162557.0,162077.0,162649.0,163471.0,...,246628,247155,247719,248421,249650,251298,253512,3,"Chicago, IL",IL
4,394514,114406.0,114471.0,114634.0,114962.0,115314.0,115568.0,115749.0,115975.0,116201.0,...,262440,263584,264699,265992,267485,269183,270907,4,"Dallas-Fort Worth, TX",TX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,394767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75786,75968,76213,76503,76738,76975,77216,929,"Lamesa, TX",TX
910,753874,60501.0,60725.0,60961.0,61420.0,61747.0,62035.0,62360.0,62810.0,63252.0,...,186942,187037,187109,187262,187332,187393,187430,930,"Craig, CO",CO
911,394968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128373,128879,129605,130574,131262,131311,130703,931,"Pecos, TX",TX
912,395188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69361,69277,69276,69229,69236,69248,69306,932,"Vernon, TX",TX
913,394743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,312265,312191,312216,312121,312147,312419,312663,933,"Ketchikan, AK",AK

In [43]:
df_new=pd.DataFrame(columns=['Date','RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName','RentalPrice'],index=[])

In [44]:
df_new.head()

Empty DataFrame
Columns: [Date, RegionID, SizeRank, RegionName, RegionType, StateName, RentalPrice]
Index: []