In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

In [2]:
# Eli's code on median income

median_income_csv = Path("../Data/household_income_msa_2019.csv")
median_income_df = pd.read_csv(median_income_csv)
median_income_df = median_income_df.transpose() # Transpose the column/headers
new_header = median_income_df.iloc[0] #grab the first row for the header
median_income_df = median_income_df[1:] #take the data less the header row
median_income_df.columns = new_header #set the header row as the df header
median_income_df = median_income_df[['Median income (dollars)','Mean income (dollars)']] # Use only median and mean income data columns
median_income_df.reset_index(inplace=True)
median_income_df[['MSA','extra']] = median_income_df['index'].str.split(",", n = 1, expand=True) # Split MSA from text string
median_income_df[['State','extra2']] = median_income_df['extra'].str.split(n = 1, expand=True) # Split State from remaining text string
median_income_df.drop(columns=['index','extra','extra2'],inplace=True) # Drop unnecessary columns
median_income_df.drop_duplicates(subset=['MSA','State'], inplace=True) # Drop duplicates -- first instance is the median and mean income by MSA

In [3]:
#checking NY MSA to compare with other datasets

checkmediandf = median_income_df.loc[(median_income_df.State == "NY")]
checkmediandf

# has 18 rows of NY state MSA, weirdly enough does not include NYC

Label,Median income (dollars),Mean income (dollars),MSA,State
64,"73,398","92,433",Albany-Schenectady-Troy,NY
224,"58,665","78,177",Auburn,NY
368,"53,768","69,396",Binghamton,NY
512,"60,105","78,749",Buffalo-Cheektowaga,NY
832,"52,951","70,353",Corning,NY
1080,"60,782","73,297",Elmira,NY
1336,"61,255","77,929",Glens Falls,NY
1704,"58,626","92,501",Ithaca,NY
1752,"50,272","65,136",Jamestown-Dunkirk-Fredonia,NY
1904,"64,087","87,755",Kingston,NY
2712,"52,108","68,320",Ogdensburg-Massena,NY
2728,"50,912","64,706",Olean,NY
2912,"60,198","81,738",Plattsburgh,NY
2984,"85,152","108,496",Poughkeepsie-Newburgh-Middletown,NY
3152,"62,104","83,768",Rochester,NY
3672,"61,213","82,572",Syracuse,NY
3848,"57,778","75,310",Utica-Rome,NY
3960,"53,917","67,368",Watertown-Fort Drum,NY

In [4]:
# checking rental data from zillow

rental_csv = Path("../Data/rental_prices_msa.csv")
rental_df = pd.read_csv(rental_csv)

checkrentaldf=rental_df[rental_df['RegionName'].str.contains('NY')]
checkrentaldf

#Zillow Data has 5 rows of MSA for NY

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09
1,394913,"New York, NY",1,2296.0,2307.0,2318.0,2329,2339,2350,2360,...,2698,2694,2686,2678,2671,2662,2653,2644,2635,2625
47,394425,"Buffalo, NY",47,846.0,848.0,850.0,852,855,857,859,...,1054,1058,1062,1066,1070,1074,1079,1083,1087,1091
51,395031,"Rochester, NY",51,904.0,907.0,910.0,913,915,918,921,...,1081,1084,1087,1091,1095,1099,1103,1107,1111,1115
60,394308,"Albany, NY",60,1114.0,1120.0,1125.0,1131,1135,1140,1145,...,1305,1309,1312,1315,1318,1322,1325,1328,1332,1335
78,395143,"Syracuse, NY",79,844.0,849.0,854.0,859,863,868,872,...,1041,1047,1053,1059,1064,1070,1076,1082,1088,1094

In [5]:
# checking uscities data for long and lat

longlatdensity_csv = Path("../Data/uscities.csv")
longlatdensity_df = pd.read_csv(longlatdensity_csv)

pd.set_option('display.max_rows', None)

checkuscitiesdf = longlatdensity_df.loc[(longlatdensity_df.state_id == "NY")]
checkuscitiesdf.head()

#This one has 1186 of long latitude for New York

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36061,New York,40.6943,-73.9249,18713220.0,10715.0,polygon,False,True,America/New_York,1,11229 11226 11225 11224 11222 11221 11220 1138...,1840034016
18,Brooklyn,Brooklyn,NY,New York,36047,Kings,40.6501,-73.9496,2559903.0,14221.0,polygon,False,True,America/New_York,1,11212 11213 11216 11233 11238 11209 11214 1122...,1840034030
19,Queens,Queens,NY,New York,36081,Queens,40.7498,-73.7976,2230722.0,7885.0,polygon,False,True,America/New_York,1,11361 11362 11363 11364 11354 11355 11356 1135...,1840034002
34,Manhattan,Manhattan,NY,New York,36061,New York,40.7834,-73.9662,1628706.0,27545.0,polygon,False,True,America/New_York,1,10026 10027 10030 10037 10039 10001 10011 1001...,1840034000
39,Bronx,Bronx,NY,New York,36005,Bronx,40.8501,-73.8662,1418207.0,12862.0,polygon,False,True,America/New_York,1,10453 10457 10460 10458 10467 10468 10451 1045...,1840033999