In [2]:
# Import library
import pandas as pd
from pathlib import Path

In [13]:
# Read in CSV file
csv_path = Path("../Data/house_prices_msa.csv")
house_price_raw = pd.read_csv(csv_path)
# index_col="RegionName"
# house_price_raw.drop(["RegionType"], axis = 1, inplace = True) 
# split the RegionName into City and State columns
house_price_raw[['City','State']] = house_price_raw.RegionName.str.split(",",expand=True)
# Reorder the state and city col to the first two col
city_col_name="City"
state_col_name="State"
region_col_name="RegionName"
first_col = house_price_raw.pop(city_col_name)
second_col = house_price_raw.pop(state_col_name)
third_col = house_price_raw.pop(region_col_name)
house_price_raw.insert(0, city_col_name, first_col)
house_price_raw.insert(1, state_col_name, second_col)
house_price_raw.insert(2, region_col_name, third_col)
# Set index as RegionName
house_price_raw_indexed = house_price_raw.set_index("City")
house_price_raw_indexed.drop(["RegionType","StateName"], axis = 1, inplace = True) 

house_price_raw_indexed.head(1000)

,State,RegionName,RegionID,SizeRank,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,6/30/1996,...,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020
City,,,,,,,,,,,,,,,,,,,,,
United States,None,United States,102001,0,107630.0,107657.0,107707.0,107834.0,107977.0,108147.0,...,247737,248625,249639,250802,252042,253216,254423,255872,257736,259906
New York,NY,"New York, NY",394913,1,187842.0,187403.0,187125.0,186592.0,186274.0,185984.0,...,479999,480758,481745,482804,484104,485517,487279,489670,492875,497090
Los Angeles-Long Beach-Anaheim,CA,"Los Angeles-Long Beach-Anaheim, CA",753899,2,183929.0,184185.0,184205.0,184312.0,184286.0,184313.0,...,671796,675183,680320,685503,689705,691229,692332,696613,703740,711361
Chicago,IL,"Chicago, IL",394463,3,164647.0,164345.0,163946.0,163493.0,162886.0,162557.0,...,245373,245631,246017,246628,247155,247719,248421,249650,251298,253512
Dallas-Fort Worth,TX,"Dallas-Fort Worth, TX",394514,4,114406.0,114471.0,114634.0,114962.0,115314.0,115568.0,...,260294,260750,261428,262440,263584,264699,265992,267485,269183,270907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lamesa,TX,"Lamesa, TX",394767,929,NaN,NaN,NaN,NaN,NaN,NaN,...,75408,75568,75681,75786,75968,76213,76503,76738,76975,77216
Craig,CO,"Craig, CO",753874,930,60501.0,60725.0,60961.0,61420.0,61747.0,62035.0,...,187489,187062,186934,186942,187037,187109,187262,187332,187393,187430
Pecos,TX,"Pecos, TX",394968,931,NaN,NaN,NaN,NaN,NaN,NaN,...,124046,125836,127175,128373,128879,129605,130574,131262,131311,130703
Vernon,TX,"Vernon, TX",395188,932,NaN,NaN,NaN,NaN,NaN,NaN,...,69702,69630,69495,69361,69277,69276,69229,69236,69248,69306
Ketchikan,AK,"Ketchikan, AK",394743,933,NaN,NaN,NaN,NaN,NaN,NaN,...,311672,312028,312133,312265,312191,312216,312121,312147,312419,312663

In [4]:
# Clean and filter columns
house_price_df = house_price_raw_indexed.transpose() 
house_price_df
# house_price_df.set_index("RegionName")

City,United States,New York,Los Angeles-Long Beach-Anaheim,Chicago,Dallas-Fort Worth,Philadelphia,Houston,Washington,Miami-Fort Lauderdale,Atlanta,...,Winnemucca,Sweetwater,Andrews,Zapata,Vermillion,Lamesa,Craig,Pecos,Vernon,Ketchikan
State,None,NY,CA,IL,TX,PA,TX,DC,FL,GA,...,NV,TX,TX,TX,SD,TX,CO,TX,TX,AK
RegionName,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL","Atlanta, GA",...,"Winnemucca, NV","Sweetwater, TX","Andrews, TX","Zapata, TX","Vermillion, SD","Lamesa, TX","Craig, CO","Pecos, TX","Vernon, TX","Ketchikan, AK"
RegionID,102001,394913,753899,394463,394514,394974,394692,395209,394856,394347,...,753927,395142,394330,753929,395186,394767,753874,394968,395188,394743
SizeRank,0,1,2,3,4,5,6,7,8,9,...,924,925,926,927,928,929,930,931,932,933
1/31/1996,107630,187842,183929,164647,114406,121233,110773,178034,109403,120291,...,NaN,NaN,NaN,NaN,NaN,NaN,60501,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/31/2020,253216,485517,691229,247719,264699,256799,224420,441727,302132,245768,...,226697,79991,170737,91481,179138,76213,187109,129605,69276,312216
6/30/2020,254423,487279,692332,248421,265992,258666,225165,444179,303396,247242,...,227020,80081,171393,91978,179052,76503,187262,130574,69229,312121
7/31/2020,255872,489670,696613,249650,267485,260637,226007,447399,304694,248841,...,227333,80159,172116,92335,178945,76738,187332,131262,69236,312147
8/31/2020,257736,492875,703740,251298,269183,263126,227049,451030,306533,250642,...,227223,80068,172764,92363,179167,76975,187393,131311,69248,312419
9/30/2020,259906,497090,711361,253512,270907,265912,228576,455038,308911,252586,...,226533,79985,173153,92602,179547,77216,187430,130703,69306,312663

In [9]:
# Import second file
# Read in CSV file
csv_path_2 = Path("../Data/rental_prices_msa.csv")
rental_price_raw = pd.read_csv(csv_path_2)

In [14]:
# split the RegionName into City and State columns
rental_price_raw[['City','State']] = rental_price_raw.RegionName.str.split(",",expand=True)
# Reorder the state and city col to the first two col
city_col_name="City"
state_col_name="State"
region_col_name="RegionName"
first_col = rental_price_raw.pop(city_col_name)
second_col = rental_price_raw.pop(state_col_name)
third_col = rental_price_raw.pop(region_col_name)
rental_price_raw.insert(0, city_col_name, first_col)
rental_price_raw.insert(1, state_col_name, second_col)
rental_price_raw.insert(2, region_col_name, third_col)
# Set index as City
rental_price_raw_indexed = rental_price_raw.set_index("City")
rental_price_raw_indexed.sample(5)

,State,RegionName,RegionID,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,...,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09
City,,,,,,,,,,,,,,,,,,,,,
Madison,WI,"Madison, WI",394816,87,1117.0,1117.0,1118.0,1118,1118,1119,...,1286,1289,1291,1294,1296,1298,1301,1303,1306,1308
North Port-Sarasota-Bradenton,FL,"North Port-Sarasota-Bradenton, FL",753906,75,1359.0,1366.0,1373.0,1379,1386,1393,...,1706,1711,1715,1720,1725,1729,1734,1739,1744,1748
Port St. Lucie,FL,"Port St. Lucie, FL",394995,119,1157.0,1165.0,1173.0,1181,1189,1196,...,1640,1648,1656,1664,1671,1679,1687,1695,1702,1710
Colorado Springs,CO,"Colorado Springs, CO",394484,80,1104.0,1110.0,1115.0,1121,1126,1132,...,1544,1550,1556,1563,1569,1575,1582,1588,1594,1600
Ogden,UT,"Ogden, UT",394931,89,905.0,913.0,921.0,929,937,944,...,1295,1300,1304,1309,1314,1318,1323,1327,1332,1336

In [15]:
# Transpose columns
rental_price_df = rental_price_raw_indexed.transpose() 
rental_price_df

City,United States,New York,Los Angeles-Long Beach-Anaheim,Chicago,Dallas-Fort Worth,Philadelphia,Houston,Washington,Miami-Fort Lauderdale,Atlanta,...,Melbourne,Chattanooga,Spokane,Provo,Durham,Port St. Lucie,Fort Collins,Boulder,Greeley,Gainesville
State,None,NY,CA,IL,TX,PA,TX,DC,FL,GA,...,FL,TN,WA,UT,NC,FL,CO,CO,CO,GA
RegionName,United States,"New York, NY","Los Angeles-Long Beach-Anaheim, CA","Chicago, IL","Dallas-Fort Worth, TX","Philadelphia, PA","Houston, TX","Washington, DC","Miami-Fort Lauderdale, FL","Atlanta, GA",...,"Melbourne, FL","Chattanooga, TN","Spokane, WA","Provo, UT","Durham, NC","Port St. Lucie, FL","Fort Collins, CO","Boulder, CO","Greeley, CO","Gainesville, GA"
RegionID,102001,394913,753899,394463,394514,394974,394692,395209,394856,394347,...,394957,394460,395113,395006,394549,394995,394602,394405,394645,394623
SizeRank,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,104,119,159,162,177,229
2014-01,1354,2296,1857,1527,1222,1364,1272,1893,1571,1139,...,986,914,857,991,1173,1157,1239,1522,1252,978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05,1707,2662,2546,1775,1567,1608,1485,2117,1936,1568,...,1486,1224,1203,1326,1434,1679,1649,1997,1693,1413
2020-06,1709,2653,2546,1774,1568,1610,1485,2115,1938,1572,...,1492,1229,1210,1328,1434,1687,1651,1998,1695,1417
2020-07,1710,2644,2546,1772,1570,1612,1484,2113,1940,1576,...,1498,1234,1216,1330,1434,1695,1653,1998,1698,1420
2020-08,1711,2635,2545,1771,1571,1614,1484,2111,1942,1580,...,1504,1239,1223,1332,1435,1702,1656,1999,1700,1423
2020-09,1712,2625,2545,1770,1572,1615,1483,2108,1944,1584,...,1510,1244,1230,1335,1435,1710,1658,2000,1703,1427